@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #65fd08;
  --secondary: #08FD25;
  --tertiory: #DFFD08;
  --font-Manrope: var(--font-manrope);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiroy: var(--tertiory);
  --font-Manrope: var(--font-manrope);
  --font-Sora: var(--font-sora);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #65fd08;
    --secondary: #16bc4e;
    --tertiory: #DFFD08;
    --font-family: 'Manrope', sans-serif;
    --font-Manrope: var(--font-manrope);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}
